//colors
$color: #1397D4;
$bg-color: #fafafa;
$bg-dark-color: #757575;
$border-default: black;


html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
* {font-family: 'Roboto', 'Open Sans', sans-serif;}

body {
 background-color: $bg-color;
}

@import "app";
@import "book-list";