.book-list {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: 1px solid $border-default;
  background-color: #fff;
  padding: 15px;
  }
  &__title {
    flex-grow: 1;
  }
  &__button {
    display: none;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 5px;
    margin-right: 5px;
  }
  &:hover .book-list__button {
    display: block;
  }
}